<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riantservices.riant"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <permission
        android:name="com.riantservices.riant.RECIEVE_MAPS"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.riantservices.riant.RECIEVE_MAPS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB-DNPksA_Ki_fLHPHSrca5ekKRyEZTIIg" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TripsActivity"
            android:label="@string/title_activity_trips" />
        <activity android:name=".AirportBookActivity" />
        <activity android:name=".LocalBookActivity" />
        <activity android:name=".CorporateBookActivity" />
        <activity android:name=".OutstationBookActivity" />
        <activity android:name=".OutstateBookActivity" />
        <activity android:name=".StationBookActivity"></activity>
    </application>

</manifest>